#btn-contact {
  position: fixed;
  bottom: 40px;
  right: 40px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: none;
  -webkit-box-shadow: 0px 0px 60px 0px rgb(0,0,0);
  -moz-box-shadow: 0px 0px 60px 0px rgb(0,0,0);
  box-shadow: 0px 0px 60px 0px rgb(0,0,0);
  padding: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  background-color: #2594d3;
}

#icon-contact {
  color: #fff;
  font-size: 30px;
}

#box-contacts {
  transition: all 0.5s;
  position: fixed;
  bottom: 0px;
  right: 10px;
  z-index: 9999;
  margin-bottom: 110px;
  margin-right: -300px;
}

#box-contacts a {
  text-decoration: none;
}

#box-contacts.active {
  transition: all 0.5s;
  position: fixed;
  bottom: 0px;
  right: 50px;
  z-index: 9999;
  margin-bottom: 110px;
  margin-right: 0px;
}

#icon {
  color: #fff;
  font-size: 30px;
}

#btn-contact-link {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: none;
  padding: 0px;
  margin-top: 1px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

